h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-stretch: extra-expanded;
    text-shadow: 3px 2px black;
    font-style: italic;
    font-size: 75px;
}

h2 {
    text-align: center;
    color: white;
}

#start {
    width: 70px;
    height: 30px;
    color: white;
    background-color: blue;
    text-align: center;
    margin-top: 10px;
    margin-left: 15%;
}

#done{
    width: 70px;
    height: 30px;
    color: white;
    background-color: blue;
    text-align: center;
    float: right;
}

#quiz-area {
    text-align: center;

}
.question {
    font-weight: bolder;
    font-size: 20px;
}

.answers {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: red;
}

#p{
    border: solid;
    font-size: 30px;
    border-color: white;
    background-color: white;
    width: 30%;
    height: 40%;
    color: black;
    text-align: center;
    margin-left: 30%;
}

/* #wrapper {
    background-color: white;
    width: 50%;
    text-align: center;
} */
/* #sub-wrapper{
    background-color: white;
    color: black;
} */

body{
    background-color: black;
}
